:root {
    --main-color: #82845d;
    --main-color2: #b5b47b;
    --main-bg-color: #ffffff;   
    --btn-color: #ff6c00;
    --btn-blog-color: #f74a54;
    --lightgrey-color: #cccccc;
    --lightgrey2-color: #e1e1e1;
    --lightgrey3-color: #f2f3ee;
    --dark-color: #000000;
}

.breadcrumb {
    background-color: #ffffff00;
    padding: 20px 0px 0px 100px;
    font-size: small;
}

a {
    color: var(--main-color);
}

[href="#"]:hover {
    color: #000000;
}

.detalhe-produto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 30px 130px;
}

#sku {
    font-size: x-small;
}

#foto-produto {
    max-width: 400px;
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    #foto-produto {
        width: 200px;
        object-fit: cover;
    }
  }

#botao-carrinho {
    background-color: var(--btn-color);
    border: var(--btn-color);
    margin-top: 20px;
}

.descricao {
    padding-left: 100px;
    padding-right: 100px;
}